<footer>
    <div class="f-info">
       <div class="f-info-social">
         <i class="fa-brands fa-facebook"></i>
         <i class="fa-brands fa-instagram"></i>
         <i class="fa-brands fa-twitter"></i>
         <i class="fa-brands fa-linkedin"></i>
       </div>
       <div class="f-info-brand"> &copy; Wanderhub Private Limited</div>
       <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>

       </div> 
    </div>
</footer>